<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="text-center">
        <h1>Mission to Mars</h1>
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape!</a></p>
    </div>

    <h2>{{ info.news_title }}</h2>
    <p>{{ info.news_text }}</p>
    <br>

    <h2>Featured Mars Image</h2>
    <img src="{{ info.featured_image_url }}" alt="Image of Mars' surface">
    <br>

    <!-- rewrite -->
    <table>{{ info.table_str[0] }}</table>

    <div>
        <h2>Mars Hemispheres</h2>
        <div class="card" style="width: 18rem;">
            <img src="{{ info.hemispheres[0].img_url }}" alt="{{ info.hemispheres[0].title }}">
            <div class="card-body">
              <h5 class="card-title">{{ info.hemispheres[0].title }}</h5>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="{{ info.hemispheres[1].img_url }}" alt="{{ info.hemispheres[1].title }}">
            <div class="card-body">
              <h5 class="card-title">{{ info.hemispheres[1].title }}</h5>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="{{ info.hemispheres[2].img_url }}" alt="{{ info.hemispheres[2].title }}">
            <div class="card-body">
              <h5 class="card-title">{{ info.hemispheres[2].title }}</h5>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="{{ info.hemispheres[3].img_url }}" alt="{{ info.hemispheres[3].title }}">
            <div class="card-body">
              <h5 class="card-title">{{ info.hemispheres[3].title }}</h5>
            </div>
        </div>
    </div>

</body>
</html>